* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
  }
  
  html {
    font-size: 62.5%;
  }
  
  .page {
    height: 100vh;
    background-image: linear-gradient(to top, #a0c3d2, #f0fbff);
    padding-bottom: 10rem;
  }